<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <xacro:macro name="base_xacro">
        <link name="base_link">
        </link>
    </xacro:macro>



    <xacro:macro name="mid360_xacro">
        <link name="livox_frame">
        </link>

        <joint name="livox_joint" type="fixed">
            <origin xyz="-0.211 0 0.28535" rpy="3.1415926 0 0" />
            <parent link="base_link"/>
            <child link="livox_frame"/>
        </joint>
    </xacro:macro>
    
    
    <xacro:base_xacro/>
    <xacro:mid360_xacro/>
</robot>